* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #aed581;
}

.page {
    margin: 60px 200px;
    background-color: #cccccc;
    border-radius: 4px;
}

.content {
    position: relative;
    padding: 30px 30px;
    border: 2px solid #757575;
    border-radius: 4px;
}

/*---header---*/

.header {
    position: relative;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: beige;
    border: 2px solid #757575;
    border-radius: 2px;
}

.header img {
    margin-left: 40px;
    width: 160px;
    border: 4px solid #ffca28;
    background: #ffecb3;    
}

.header .right {
    margin-right: 40px;
    /*border: 2px solid tomato;*/
}


.header .right .superior {
    font-family: bebas neue;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00B27C;
}

.header .right .inferior {
    font-family: bebas neue;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: ligh;
}

/*---about me---*/

.profile {
    border: 2px solid tomato;
    margin: 20px;
    padding: 30px;
    background: beige;
    border: 2px solid #757575;
    border-radius: 2px;
}

.profile h2 {
    margin-bottom: 20px;
    font-family: roboto;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.profile p {

    font-family: roboto;
    font-size: 15px;
    text-align: justify;
}

/*---content-middle--*/

.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.middle h2 {
    margin-bottom: 20px;
    font-family: roboto;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.middle .theory-background h3 {
    margin-bottom: 10px;
    font-family: roboto;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.middle p {

    font-family: roboto;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 15px;
}

.theory-background {
    width: 500px;
    padding: 30px;
    border: 2px solid #757575;
    background: beige;
    border-radius: 8px;
}

.free {
    width: 280px;
    height: 200px;
    padding: 20px;
    border: 2px solid #757575;
    background: beige;
    border-radius: 8px;
}

.free ul {
    margin-left: 20px;
    font-family: roboto;
    font-size: 15px;
}

/*---content-bottom---*/

.bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;    
    margin: 20px;
}

.bottom h2 {
    margin-bottom: 20px;
    font-family: roboto;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.contact {
    padding: 20px;
    background-color: beige;
    border: 2px solid #757575;
    border-radius: 8px;
}

.media {
    margin-right: 30px;
    padding: 20px;
    background-color: beige;
    border: 2px solid #757575;
    border-radius: 8px;
}

.contact ul {
    list-style: none;   
}


.media .icons {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.fa-linkedin-square {
    font-size: 30px;
    color: #006599;
}

.fa-twitter-square {
    font-size: 30px;
    color: #32cdfd;
}

.fa-facebook-square {
    font-size: 30px;
    color: #3b5998;
}

.fa-instagram {
    font-size: 30px;
    color: indianred;
}

/*---signature---*/

.signature {
    position: absolute;
    top: 905px;
    left: 610px;
}

.signature h2 {
    font-family: bebas neue;
    color: rebeccapurple;
    font-size: 30px;
    text-transform: uppercase;
}

.signature ul {
    list-style: none;
    text-transform: uppercase;
    font-family: roboto;
    font-size: 15px;
    color: #272626;
    font-weight: bold;
}



